.top-dash,
.bottom-dash {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    gap: 2rem;
}

@media (max-width: 40rem) {
    .top-dash {
        grid-template-columns: 100%;
        place-items: center;
    }

    .bottom-dash {
        grid-template-columns: repeat(2, auto);
    }
}

@media (max-width: 30rem) {
    .bottom-dash {
        grid-template-columns: 100%;
    }
}

/* them modes */

.light-card {
    color: rgb(15 23 42);
    background: #f1f5f9;
}

.light-text {
    color: color: rgb(15 23 42);;
}
